<!DOCTYPE html>
<html>

<head>
    <script src="js/masonry.pkgd.min.js"></script>
    <script src="js/script.js"></script>
    <link rel="stylesheet" type="text/css" href="styles/index.css">
</head>

<body>

    <!-- Header -->
    <div class="header">
        <h1>Responsive Image Grid</h1>
        <p>Resize the browser window to see the responsive effect.</p>
    </div>

    <!-- Grid -->
    <div>
        <div class="grid">
            <div class="grid_item"></div>
        </div>
    </div>
</body>

</html>