<!DOCTYPE html>
<html>

<head>
    <script src="js/masonry.pkgd.min.js"></script>
    <script src="js/script.js"></script>
    <link rel="stylesheet" type="text/css" href="styles/index.css">
</head>

<body>

    <!-- Header -->
    <div class="header">
        <h1>Responsive Image Grid</h1>
        <p>Resize the browser window to see the responsive effect.</p>
    </div>

    <!-- Grid -->
    <div class="grid">
    </div>

    <!-- Footer -->
    <div>
        <form id="newCard">
            <h2>Add new card</h2>
            <div>
                    <input type="text" id="message">
                <!-- <textarea id="message"></textarea> -->
            </div>
            <div>
                <button type="submit">Add card</button>
            </div>
        </form>
    </div>
</body>

</html>