* { margin: 0; padding: 0; box-sizing: border-box; }
body { font: 16px Helvetica, Arial; }
form { background: grey; padding: 10px; position: fixed; bottom: 0; width: 100%; }
form input { border: 0; padding: 10px; width: 80%; margin-right: .5%; }
form select { width: 8.5%; background: rgb(255, 244, 207); padding: 10px; -webkit-appearance:none; border: none; margin-right: .5%;  }
form button { width: 9%; background: rgb(130, 224, 255); border: none; padding: 10px; }
